<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConfigContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>com.mqsql.jabc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mwsql://127.0.0.1:3306/school</param-value>
  </context-param>
  <context-param>
    <param-name></param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>MyServletConfig</display-name>
    <servlet-name>MyServletConfig</servlet-name>
    <servlet-class>com.snail.MyServletConfig</servlet-class>
    <init-param>
      <param-name>张三</param-name>
      <param-value>地址</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>tom</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletConfig</servlet-name>
    <url-pattern>/MyServletConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Context</display-name>
    <servlet-name>Context</servlet-name>
    <servlet-class>com.snail.Context</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Context</servlet-name>
    <url-pattern>/Context</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.snail.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResourseDemo</display-name>
    <servlet-name>GetResourseDemo</servlet-name>
    <servlet-class>com.snail.GetResourseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResourseDemo</servlet-name>
    <url-pattern>/GetResourseDemo</url-pattern>
  </servlet-mapping>
</web-app>